div(ng-controller='ListController')

  h1 {{name}}
  //canvas(style='float: right', id='workload', width='800', height='300', data-bar-chart="counts")

  //div.span12      

   div.person
      p {{name}}

   div.counter
      strong {{10}}
      p blockers

   div.counter
      strong {{11}}
      p critical

  div.list-users
    div(class="left")  
      a(ng-click="userClicked('all')", ng-class="userListClass('all')")
        span.badge.badge-success all {{issues.length}}
    div(class="right")
      a(ng-repeat="entry in counts", ng-click="userClicked(entry.name)", ng-class="userListClass(entry.name)")
        span.badge.badge-success {{entry.name}} {{entry.count}}
     
  table.table(ng-class='{disabled: updating == 1 || updatingList == 1}')
    thead   
      tr
        th Issue
        th Priority
        th Updated
        //th Assignee
    tbody     
      tr(ng-repeat='issue in issues | filter:issueFilter')
        td 
          a(href='http://jira.alm.mentorg.com:8080/browse/{{issue.key}}') {{issue.key}}
          | : {{issue.fields.summary}}
        td 
           img(src='{{issue.fields.priority.iconUrl}}')
        td {{issue.fields.updated | ago}} 
        //td {{issue.fields.assignee.name}}


  
