div(ng-controller='ListController').issue-list

  h1 {{list.name}} 
    small(ng-cloak, ng-show='list.url')
      a(href='{{list.url}}')
        i(class='icon-external-link')

  div.list-users(ng-class='{disabled: updating == 1 || updatingList == 1}')
    div(class="left")  
      a(ng-click="userClicked('all')", ng-class="userListClass('all')")
        span.badge.badge-success all {{issues.length}}
    div(class="right")
      a(ng-repeat="entry in counts", ng-click="userClicked(entry.name)", ng-class="userListClass(entry.name)")
        span.badge.badge-success {{entry.name}} {{entry.count}}
     
  table.table(ng-class='{disabled: updating == 1 || updatingList == 1}')
    thead   
      tr
        th Issue
        th Priority
        th Updated
    tbody     
      tr(ng-repeat='issue in issues | filter:issueFilter')
        td 
          a(href='http://jira.alm.mentorg.com:8080/browse/{{issue.key}}') {{issue.key}}
          | : {{issue.fields.summary}}
        td 
           img(src='{{issue.fields.priority.iconUrl}}')
        td {{issue.fields.updated | ago}} 


  
