div(ng-controller='PersonalController')
  
  div.span12

   div.header
 
       div.name	   
        h1 {{fullName}} 
         br
         small 
             div.week-navigator
                 a(href="#/personal/week/{{previousWeek}}")
                   i.fa.fa-chevron-left
                 a(href="#/personal/week/{{nextWeek}}")
                   i.fa.fa-chevron-right
             span Week of {{week | date:'yyyy-MM-dd'}}

       div.counter2
           h1 {{workedSeconds|formatHours}}
           small hours

       div.counter2
           h1 {{workedIssues}}
           small issues

   span {{error}}
   
   div.content
     ul.nav.nav-pills
      li.active
         a(href='#automatic-report', data-toggle='tab') List
      li
         a(href='#timesheet', data-toggle='tab') Timesheet
      li
         a(href='#report', data-toggle='tab') Report

   div.tab-content
    div.tab-pane.active(id='automatic-report')
      div(ng-repeat="issue in issues | filter:reportIssueFilter | orderBy:issueWorkedSeconds:true").span12

          b
             a(href='http://jira.alm.mentorg.com:8080/browse/{{issue.key}}') {{issue.key}}
             | : {{issue.summary}} 
             span(ng-show="issueTotalHours(issue)") - {{issueTotalHours(issue)|formatDuration}}

          ul
             li(ng-repeat="log in issue.log | filter:logFilter") 
               span(ng-show="log.timeSpentSeconds")          
                 b {{log.timeSpentSeconds|formatDuration}} 
                 |  ({{log.date | date:'MMM d'}}) 
               | {{log.comment}}
     
    div.tab-pane(id='timesheet')

       timesheet(data='issues', start='start', user='user')
 
    div.report.tab-pane(id='report')

       div
           span(style="text-decoration:underline")
              strong Week of {{week | date:'yyyy-MM-d'}}
       div
           br              

       div
           strong Engineering
 
       div.row
        div.span12
         ul
          li(ng-repeat="issue in issues | filter:reportIssueFilter | orderBy:issueWorkedSeconds:true")
           a(href='http://jira.alm.mentorg.com:8080/browse/{{issue.key}}') {{issue.key}} 
           {{issue.summary}} - 
           span(ng-repeat="log in issue.log | filter:reportLogFilter") {{log.comment}} 



