div(ng-controller='SprintController').sprint

 div.span12

  div.header
    div.name
      h1 
       span(style='float: right') 
         a(toggle='showHelp', class='icon-question-sign', href='#')
       span {{sprint.name}}
        br
        small(ng-switch="relationToNow")
          span(ng-switch-when="-1") Completed &mdash; 
          span(ng-switch-when="0") In Progress &mdash; 
          span(ng-switch-when="1") Planned &mdash; 
        small {{sprint.start | date:'MMM d'}} to {{sprint.end | date:'MMM d'}}
   
    div(ng-cloak, ng-show='showHelp', class='help')

        p Shows all issues with logged time during the sprint timeframe, as well as 
          | modified issues, or those with sprint fixVersion. The status column
          | shows the state of the issues at the end date of sprint, and for
          | resolved issues, their fate past the end date - either in QA, or
          | verified and closed, or in limbo.

        p Click on the question mark to hide this help message.
                
  table.table(ng-class="{disable: updating == 1}")
    thead(ng-show='!updatingSprint')
      tr
        th Issue
        th {{(relationToNow==0)|iif : "Status so far" : "Status at sprint end"}}
        th Effort

    tbody
      tr(ng-repeat='issue in sprint.workedIssues')
        td 
          a(href='http://jira.alm.mentorg.com:8080/browse/{{issue.key}}') {{issue.key}}
          | : {{issue.summary}} 
        td(sprint-end-status="issue",sprint='sprint')
        td {{issue.timeSpent|formatDuration}}


        
