div(ng-controller='WeekController')

  div.row
    //div.span2
     div.btn-toolbar
      div.btn-group
       p Since
       button.btn.dropdown-toggle(data-toggle='dropdown') Last IDE call 
         span.caret
       ul.dropdown-menu
         li
           a(href='#') Last IDE call
         li
           a(href='#') Week start
         li
           a(href='#') Sprint start

   div.span12.header
 
       div.name	   
        h1 {{clientConfig.name}}		
         br
         small 
             div.week-navigator
                 a(href="#/team/week/{{previousWeek}}")
                   i.fa.fa-chevron-left
                 a(href="#/team/week/{{nextWeek}}")
                   i.fa.fa-chevron-right
             span Week of {{week | date:'yyyy-MM-dd'}}

       div.counter2
           h1 {{workedSeconds|formatHours}}
           small hours

       div.counter2
           h1 {{workedIssues}}
           small issues

    div.span12
    //- p.span12.pagination-centered
    //-   b Select user


  div.content.span12
   
   ul.nav.nav-pills.user-list
      li(ng-repeat="user in users")(ng-class="pillClass(user)")
        a(ng-click="select(user)") {{user}}: {{perUser[user]|formatHours}}


   div(ng-repeat="issue in issues | filter:issueFilter | orderBy:issueTotalHours:true")

    b
      a(href='http://jira.alm.mentorg.com:8080/browse/{{issue.key}}') {{issue.key}}
      | : {{issue.summary}} 
      span(ng-show="issueTotalHours(issue)") - {{issueTotalHours(issue)|formatDuration}}


    ul
      li(ng-repeat="log in issue.log | filter:logFilter") 
          span(ng-show="log.timeSpentSeconds")          
            b {{log.timeSpentSeconds|formatDuration}} 
            |  ({{log.date | date:'MMM d'}}) 
          | {{log.comment}}

  // button.btn.btn-primary Copy
