div(ng-controller='WeeklyTimesController')

   div.span12.header
 
       div.name	   
        h1 {{clientConfig.name}}
         br
         small Logged weeks per calendar week

  div.content.span12(id='times-chart')
