extends loader

block content

    div.navbar.navbar-fixed-top.navbar-inverse(data-bs-navbar)
      div.navbar-inner
       div.container      
         ul.nav
           li(data-match-route='/home')
             a(href='#/home') Home
           li.dropdown(data-match-route='/list/.*')
             a(href='#', data-toggle='dropdown').dropdown-toggle Lists 
               b.caret
             ul.dropdown-menu             
               li(ng-repeat='list in clientConfig.lists')
                 a(href='#/list/{{list.id}}') {{list.name}}
           li.dropdown.ng-cloak(ng-show='clientConfig.users', data-match-route='/week/.*')
             a(href='#', data-toggle='dropdown').dropdown-toggle Week 
               b.caret
             ul.dropdown-menu               
               li 
                 a(href='#/week/since/{{monday.toISOString()}}') Since Monday ({{monday | date: 'MMM d'}})
               li
                 a(href='#/week/since/{{teamCall.toISOString()}}') Since Team Call ({{teamCall | date: 'MMM d'}})
               li.divider
               li 
                 a(href='#/week/since/{{previousMonday.toISOString()}}') Since Previous Monday ({{previousMonday | date: 'MMM d'}})
               li
                 a(href='#/week/since/{{previousTeamCall.toISOString()}}') Since Previous Team Call ({{previousTeamCall | date: 'MMM d'}})



          ul.nav.pull-right
           li 
             a(digester='1000', context='meta', ng-click='$parent.updateIssues()') {{$parent.updatedLabel()}}

       div.container.alert-top(ng-show='error').ng-cloak
        div.row
          div.span12
            button(type='button', class='close icon-white', data-dismiss='alert') &times;
            span {{error}}

    div(ng-view)
