!!!
html(ng-app="jiraNow")
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    base(href='/')
    title Dashboard
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/app/css/app.css')
  body
    block body
