/* app css stylesheet */

html {
  overflow-y:scroll;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

div.counters {
    display: inline-block;
    position: absolute;
    right: 0;
}

.counter {
    display: inline-block;
    text-align: center;
    height: 84px;
    width: 96px;
/*    -webkit-box-shadow: 0px 0px 10px #000 inset;
    box-shadow: 0px 0px 1px #000 inset;
    -moz-box-shadow: 0px 0px 10px #000 inset;
    -o-box-shadow: 0px 0px 10px black #000 inset;
    -ms-box-shadow: 0px 0px 10px black #000 inset; */
    border: solid 1px #333333;

    -webkit-border-radius:24px;
    -moz-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px;
    padding: 32px 12px 0px 12px;
    background-color: #f5f5f5;
    margin: 24px 0px 24px 24px;
}

.header {
    position: relative;
    width: 100%;
}

.header .name {
    display: inline-block;
    margin-top: 24px;
}

.sprint .header .name {
    width: 100%;
}

.week-navigator {
    position: absolute;
    left: -60px;
    width: 60px;
    top: 107px;
    border: 0px solid;
    border-radius: 5px;
}

.week-navigator i {
    opacity: 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24.5px
}

.header:hover .week-navigator i {
    opacity: 1;
}

.week-navigator:hover i {
    opacity: 1;
}

.header > .counter {

    position: relative;

    margin: 10px;    
    padding-top: 19px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    
}

.header > .counter > strong {
    font-size: 38.5px;
    line-height: 40px;
}

.header > .counter > p {
    line-height: 40px;
    padding-top: 0px;
}

.header h1 {
    padding-top: 20px;
}

.user-list {
//    border: solid 1px #333333;
    // margin-left: 29px;
//    border-radius: 0px 0px 4px 4px;
//    -webkit-box-sizing: border-box;
//    -moz-box-sizing: border-box;
//    box-sizing: border-box;
//    margin: 0 0 0 0;
}


.name2 {
    display: inline-block;
    border: 1px solid;
//    vertical-align: top;
}

.counter strong {
    font-size: 48px;
}



.counter p {
    /* border-top: solid 1px #333333; */
    margin-top: 0px;
    padding-top: 10px;
    opacity: 0.6;
}

.top {
    display: block;
}

.person {
    display: inline-block;
    padding-bottom: 30px;
}

.person p:first-child {
    font-size: 48px;
}

.person p:last-child {
    text-align: right;
    margin-top: 0px;
    padding-top: 8px;
    opacity: 0.6;
}

body {
    padding-top: 40px;
}

.alert-top div.row {
    float: left;
    position: absolute;
    min-height: 40px;
    top: 1px;
}

.alert-top div.row div {
    padding: 8px 35px 8px 14px;
    background-color: #1b1b1b;  
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #222222, #111111);
}

.alert-top div.row div .close {
    color: #ffffff;
}

.ng-cloak {
    display: none !important;
}

.loading {
    text-align: center;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.list-users a {
    margin: 0px 6px;
    padding-bottom: 3px;
    display: inline-block;
    vertical-align: top;
    height: 18px;
    clear: both;
}

.list-users .badge {
    vertical-align: top;
}


.list-users a.active {
    border-bottom: solid;
    border-bottom-color: #0088cc;
    border-bottom-width: 3px;
}

.list-users > .left {
    float: left;
    margin-right: 10px;
}

.list-users > .right {
    overflow: hidden;
    line-height: 27px;
}

.issue-list h1 a:hover {
    text-decoration: none;
}

.muted-hover {
    display: none;
    color: #999999;
}

tr:hover .muted-hover {
    display: inline;
}

table.hide-priority th.priority {
    display: none;
}

table.hide-priority td.priority {
    display: none;
}

.issue-list table thead {
    display: none;
}

.table th {
    border: 0;
    border-top: 0;
    padding: 20px 0px 12px 0px;
}

.table td {
    padding: 8px 0px 8px 0px;
}

.table tbody + tbody {
    border-top: 0;
}

th a.icon-question-sign {
    display: none;
    color: #999999;    
    padding-left: 6px;
}

th:hover a.icon-question-sign {
    display: inline;
}

.description {
    color: #999999;
    font-size: 14px;
    //line-height: 14px;
    font-weight: normal;
}

.help {
    display: block;
    //color: #0000;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    border-left: 5px solid;
    padding-left: 5px;
    border-color: #0088cc;
}


.list-header h1 {
    margin-bottom: 0px;
}

.list-header {
    display: block;
    margin-bottom: 30px;
}

th .help {
    margin-top: 10px;
}

.pressed {
    color: #000000;
}

.pressed:hover {
    color: #000000;
}

h1 span a.icon-question-sign:hover {
    text-decoration: none;
}

#timesheet table {
    margin-left: 0;
    margin-right: 0;
}

#automatic-report div {
    margin: 0;
}

.week-dropdown {
    border-top: 4px solid #999999;
    vertical-align: middle;
}

.timesheet-table small {
    color: #999999;
}

.timesheet-table tr td:not(:first-child) {
    text-align: center;
}

.timesheet-table tr th:not(:first-child) {
    text-align: center;
}

.timesheet-table .timesheet-leaf.active {
    background-color: #8fb8cc;
}

.timesheet-table th {
    padding-top: 0px;
}

.timesheet-leaf {
    cursor: pointer;
}

div.report div {
    font-family: Helvetica, Arial, "Droid Sans", sans-serif;
    font-size: 14px;
    line-height: 1.428571em;
}

.nav-pills > li > a {
    background-color: #eeeeee;
}

.nav-pills > .badHours > a {
    color: red;
}

.nav-pills > .badHours:hover > a {
    color: darkRed;
}

.nav-pills > .badHours.active > a,
.nav-pills > .badHours.active:hover > a
{
    color: white;
    background-color: red;
}

.nav-pills > .doubtfulHours > a {
    color: orange;
}

.nav-pills > .doubtfulHours:hover > a {
    color: darkOrange;
}

.nav-pills > .doubtfulHours.active > a,
.nav-pills > .doubtfulHours.active:hover > a
{
    color: white;
    background-color: orange;
}



.content {
    clear: both;
    margin-top: 40px;
}

.counter3 {
}

div.counter2 {
    font-size: 38.5px;
    line-height: 40px;   
    border: 1px solid red;
    display: inline-block;
    width: 118px;

    text-align: center;
    border: solid 1px #333333;

    -webkit-border-radius:24px;
    -moz-border-radius: 24px;
    -o-border-radius: 24px;
    border-radius: 24px;
    background-color: #f5f5f5;    

    //padding: 32px 12px 0px 12px;
    margin: 24px 0px 24px 24px;

}

.issue-list > .header {
    margin-left: 0;
}

.counter2 h1 {
    margin-bottom: 0px;
    line-height: 40px;
    padding-top: 19px;
}

.counter2 small {
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 40px;
    color: #999999;
}


